/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#d3 div {
  background-color: orange;
  color: white;
  padding: 8px;
  border-radius: 25px;
  height: 35px;
  min-width: 75px;
  display: inline-block;
  text-align: center;
  font-size: small;
  margin: 2px;
}

.node {
  cursor: pointer;
}

.link {
  stroke: #fff;
  stroke-opacity: 1;
  stroke-width: 1px;
}

.label {
  font-size: 10px;
  fill: #fff;
}

@layer components {
  .btn-inline {
    @apply py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-blue-700 hover:bg-blue-800;
  }
  .btn-inline--disabled {
    @apply py-2 px-4 font-semibold rounded-lg cursor-not-allowed shadow-md text-white bg-gray-300;
  }
  .input {
    @apply focus:outline-none w-3/4 mt-3 placeholder-blue-500 text-blue-500 h-12 border-transparent select-none bg-white rounded-xl ring ring-offset-2;
  }
}
